.submit{
    width: 100%;
}
.container{
    width: 380px;
    max-width: 100%;
    background: none;
}
.forgot{
    float: right;
}

.title{
    text-align: center;
    // font-weight: normal;
    // color: #7546C9;
}